<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
	<title>Attendance Management</title>
</head>
<body>
	<h1>Attendance Management</h1>
	{% if retry %}
	<p>Sorry, our systems failed to identify you. Please try again.</p>
	{% endif %}
	<div>
		<p>Welcome to image recognition attendance management system.</p>
		<form action="/record" method='POST' enctype="multipart/form-data">
			<input type="file" name="image" capture="user" accept="image/*" class="hidden">
			<div class="camera hidden">
				<video autoplay></video>
				<button class="button shutter" type="button">Capture</button>
			</div>
			<canvas width="320" height="240" class="hidden"></canvas>
			<br>
			<div class="button_tray">
				<button class="button camera_controller" type="button">Open Camera</button>
				<button class="button hidden submit">Upload Image</button>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>